---
# .yamllint configuration

extends: default

rules:
  # 150 chars should be enough, but don't fail if a line is longer
  line-length:
    max: 150
    level: warning
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
